<% provide(:title, "Your Profile") %>

<div class="friend-list">
<%user = current_user%>

  <h2>Friends</h2>
    <ol>
    <%current_user.friends.each do |friend| %>
      <li><%= link_to friend.username, friend_profile_path( user_id:friend.id), method: :post%></li>
    <%end %>
    </ol>     
</div>

<div class="reveiw-container">
  <div class="container">
    <div class="jumbotron">
    <h1>Reviews</h1>
    <h2> Here is what you reviewed!</h2>
    </div>
    <div class="jumbotron">
      <% if @reviews %>
          <% @reviews.where(user_id: user.id).each do |review|%>
            <ul> 
              <li> <b><p><% if review.recommended %>
                <span style="color:green;"> Recommends </span>
              <% else %>
                <span style="color:red;"> Doesn't recommend </span>
              <% end %>
              <b><%= review.media %></b></p></b></li>
              <p><%= review.content %></p>
            </ul>
        <%end%>
      <%end%>
    </div>
  </div>
</div>