<% provide(:title, "Home") %>

<%# to avoid duplicate reviews from the same friend_id, friend_id's are turned into a set  %>

<div class="reveiw-container">
  <div class="container">
    <div class="jumbotron">
      <h1>Reviews</h1>
      <h2> Here is what your friends reviewed!</h2>
    </div>
    <div>
      <%@reviews.each do |review| %>
        <div class="jumbotron">
          <h3>
            <%= review.user.username %>
            <% if review.recommended %>
              recommends
            <% else %>
              does not recommend
            <% end %>
            <%= review.media %>
          </h3>
          <p> <%= review.content %> </p>
          <p> <%= review.post_date.to_date %> </p>
        </div>
      <%end%>
    </div>
  </div>
</div>
