<% provide(:title, "Home") %>

<%# to avoid duplicate reviews from the same friend_id, friend_id's are turned into a set  %>

<div class="reveiw-container">
  <div class="container">
    <div class="jumbotron">
    <h1>Reviews</h1>
    <h2> Here is what your friends reviewed!</h2>
    </div>
    <div class="jumbotron">
    
      <%current_user.friends.each do |friend| %>
        <h3 class= "friend-name"><%= friend.username %></h3>
        <% @reviews.where(user_id: friend.id).each do |friend_who_reviewed|%>
          <ul> 
          <li> <u><b><p><%= friend_who_reviewed.media %>:</p></b></u></li>
             <p><%= friend_who_reviewed.content %></p>
          </ul>
          
        <%end%>
      <%end%>
    </div>
  </div>
</div>
