<footer class="footer">
  <small>
    This is the footer
    for the <%= link_to "We-View App", root_path  %> 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>