<div class="cube">

		<div class="box box1">
      <%= image_tag ("goku-svg.svg"), alt:"goku-svg", class: "goku-img" %>
		</div>

		<div class="box box2">

		</div>

		<div class="box box3">

		</div>

		<div class="box box4">

		</div>

		<div class="box box5">

		</div>

		<div class="box box6">
			
		</div>
	</div>