<div class="container " >
  <% if @invited_events.nil? %>
    <h4>No Invitations at the moment!</h4>
    <% else %>
      <%@event.each do |event| %>
      <%@invited_events.each do |event| %>
        <div class="row mt-3 basic-content-card ">
          <div class="col">
              <h3>
                <%= event.title %> 
                <% host_name = @all_users.find_by(id: event.user_id).username %>
              </h3>
              <h6><span>Date: <%= event.scheduled_time%></span></h6>
              <%= button_to "Attend", {:controller => "events", :action => "name", :event_id => event.id, :name => host_name, method: :post}, {:style => "width: 20%;"} %> 
          </div>
        </div>
      <%end%>
      <% end %>
    </div>
  <% end %>
</div>
    


    


  
