<% provide(:title, "Event Screen") %>

<div style="padding: 2em">

<iframe id="ytplayer" type="text/html" width="1080" height="640"
  src="http://www.youtube.com/embed/<%=@yt_id%>" frameborder="0"></iframe>
  
  <% if !@regex_object.nil?%>
  <h2><b><u><%= @event.title%></u></b></h2>
  <%else%>
<h2><b><u>Invalid link</u></b></h2>
  <%end%>
  <h2>Live Chat</h2>
</div>
