
<% if !@user.nil? %>
  <%= @user.username %>
  <%= @user.id %>
   <%= button_to 'Send a Request', {:controller => "friendship", :action => "create", :user_id => @user.id} , :method=>:post  %>
<% else %>
  <p> Wrong combination of username/code </p>
  <p> Or user doesn't exist </p>
<% end %>