:root {
  --txt-alt: white;
  --txt: black;
  --background: white;
  --bgImage: url("~images/01.png");
  --chat-bg: rgba(255, 255, 255, 0.75);
  --chat-mine: white;
  --chat-theirs: orange;
}

.event-header {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vh;
}

.chat {
  color: white;
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #02224b;
  transform: translateY(120%);
  transition: transform 0.5s ease;
}

.chat.active {
  transform: translateX(0);
}

.chat-header {
  padding: 0.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
}

.btn-chat {
  background-color: #02224b;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  right: 1em;
  bottom: 1em;
  cursor: pointer;
}

.btn-chat svg {
  height: 4em;
  width: 2.5em;
}

.btn-close {
  height: 2em;
  width: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-close svg {
  height: 1em;
  width: 1em;
  background-color: black;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  scrollbar-color: #c1c1c1 transparent;
}

.messages p {
  margin-bottom: 0.5em;
}

.mine {
  color: var(--chat-mine);
}

.theirs {
  color: var(--chat-theirs);
}

.chat form {
  display: flex;
  padding: 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.chat input[type="text"] {
  flex: 1;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: white;
  color: var(--txt);
  min-width: 0;
}

.chat input[type="submit"] {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 20%;
}

// .subscriber.grid4 {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
// }

// .subscriber.grid9 {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
// }

.subscriber {
  width: 25vh;
  height: 25vh;
}

.margin-auto {
  margin: 0 auto;
}

.screenshare {
  width: 100vh;
  height: 90vh;
}

.publisher {
  width: 25vmin;
  height: 25vmin;
  min-width: 8em;
  min-height: 8em;
}

.audio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.audio {
  display: none;
}

@media screen and (min-aspect-ratio: 1 / 1) {
  .chat {
    width: 20%;
    min-width: 16em;
  }
}

.friend-list {
  max-width: 300px;
}

#selector {
  max-width: 225px;
}
