// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// @import "bootstrap-sprockets";
// @import "bootstrap";

//
// font-family: 'Vollkorn', serif;
// font-family: 'Euphoria Script', cursive;
// font-family: 'Mate', serif;
// font-family: 'Metal Mania', cursive;
// font-family: 'Questrial', sans-serif;
//font-family: 'Special Elite', cursive;

$primary-color: #ef6400;
$secondary-color: #02224b;
$tertiary-color: #b54300;
$quaternary-color: #eeeeee;

$nav-font: "Euphoria Script", cursive;
$special-font: "Special Elite", cursive;
$sidebar-font: "Metal Mania", cursive;
$primary-sans-serif: "Questrial", sans-serif;
$primary-serif: "Mate", serif;

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: $primary-serif !important;
  overflow-x: hidden;
}

/*top section, home page*/
.gradient-design {
  background: rgb(156, 77, 26);
  background: radial-gradient(
    circle,
    rgba(156, 77, 26, 1) 0%,
    rgba(239, 100, 0, 1) 53%,
    rgba(2, 34, 75, 1) 99%,
    rgba(2, 34, 75, 1) 100%,
    rgba(2, 34, 75, 1) 100%
  );
}

.home-head {
  // text-align: center;
  // margin-top: 4rem;
  font-size: 1.25rem;
  color: white;
  font-family: $primary-sans-serif;
  height: 100%;

  h1 {
    font-family: $special-font;
  }
}
.home-body {
  width: 100%;
  h1 {
    font-size: 60px;
    font-family: $nav-font;
  }

  p {
    font-size: 20px;
  }
}

.navbar {
  height: 80px;
  margin-bottom: 0px !important;
}
nav {
  color: $secondary-color !important;
  border-bottom: dotted;
  border-color: white;
}

.inline-block {
  display: inline-block !important;
}

.section-container {
  height: 50vh;
}

.landing-svg-0 {
  bottom: 0;
}
.personal-opinions {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 5px;
}

/*recommend section, home page*/
.section-recommend-1 {
  position: relative;
  background-color: $secondary-color;
  color: white;
  height: 85vh;
}

.section-recommend-2 {
  position: relative;
  background-color: white;
  color: $secondary-color;
  height: 90vh;
}

.section-recommend-3 {
  position: relative;
  background-color: #273036;
  color: white;
  height: 90vh;
}

.section-recommend-4 {
  position: relative;
  background-color: white;
  color: black;
  height: 85vh;
}

.landing-svg-1 {
  bottom: 0;
  position: absolute;
}

.landing-svg-2 {
  bottom: 0;
  position: absolute;
}

.landing-svg-3 {
  bottom: 0;
  position: absolute;
}

.navbar-custom {
  background-color: $secondary-color;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  font-family: "Euphoria Script", cursive;
  font-size: 35px;
  color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.navbar {
  box-shadow: 0px 7px 26px -3px rgba(102, 102, 102, 0.5);
}

/* menu button styling */
.btn-default {
  color: $primary-color !important;
  border: solid white !important;
  background-color: whitesmoke !important;
}

.btn-default:hover {
  color: white !important;
  background-color: black !important;
}

.primary-content {
  padding-top: 80px;
  background-color: $tertiary-color;
}

.basic-content {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid $secondary-color;
  border-radius: 20px;
  padding: 3em;
}

.home-content-reviews {
  border-top-style: solid;
  border-color: $secondary-color;
}

.basic-content-card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px 0;
  border: ridge;
  border-radius: 10px;
}

.friend-event-col {
  border-left: dotted;
  border-color: $secondary-color;
}

.button-hover {
  border: none;
  background-color: #eee;
  transition: all ease-in-out 0s;
  cursor: pointer;
}
.button-hover:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

.logo-box {
  width: 20%;
  display: inline-block;
  margin-top: 1em;
}

.friend-name {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.25em;
  border-radius: 0.2em;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.h1-signup {
  text-align: center;
}

input {
  height: auto !important;
}

.form-box {
  margin: auto;
  width: 50%;
}

/* The side navigation menu */
.sidenav {
  font-family: $sidebar-font;
  height: 100%;
  width: 60px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(2, 34, 75, 0.9);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 4px 0px 30px 10px rgba(0, 0, 0, 0.44);
}

/* The navigation menu links */
.sidenav a {
  border-top: 1px dotted;
  border-color: white;
  padding: 20px 8px 20px 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:last-child {
  border-bottom: 1px dotted;
  border-color: white;
}

.menu {
  padding: 23px 21px 18px 20px;
  font-size: 25px;
  color: $primary-color;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(204, 209, 253);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.my-nav-text {
  display: none;
}

.my-col {
  margin-top: auto;
  margin-bottom: auto;
}

.block {
  display: block;
}

/* cube */
.goku-img {
  width: 100%;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* Applying styles to each face */
.box1 {
  transform: translateZ(100px);
}

.box2 {
  transform: rotateY(90deg) translateX(100px);
  transform-origin: right;
}

.box3 {
  transform: rotateY(180deg) translateZ(100px);
}

.box4 {
  transform: rotateY(-90deg) translateX(-100px);
  transform-origin: left;
}

.box5 {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top;
}

.box6 {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom;
}

/* Animating the elements */
@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotateY(90deg) rotateZ(90deg);
  }
  40% {
    transform: rotateY(180deg) rotateZ(-90deg);
  }
  60% {
    transform: rotateY(270deg) rotateZ(90deg);
  }
  80% {
    transform: rotateY(360deg) rotateZ(-90deg);
  }
}

.modal-content {
  color: white;
  background-color: rgba(0, 16, 37, 0.863) !important;
  border-style: 10px dashed !important;
  border-color: rgba(239, 100, 0, 0.555) !important;
}

footer {
  padding: 3% 0;
  border-top: dashed white;
  color: white;
  background-color: black;
}

footer a {
  color: white;
}
