/* fonts available to us*/
// font-family: 'Vollkorn', serif;
// font-family: 'Euphoria Script', cursive;
// font-family: 'Mate', serif;
// font-family: 'Metal Mania', cursive;
// font-family: 'Questrial', sans-serif;
//font-family: 'Special Elite', cursive;

$primary-color: #ef6400;
$secondary-color: #02224b;
$tertiary-color: #b54300;
$quaternary-color: #eeeeee;

$nav-font: "Euphoria Script", cursive;
$special-font: "Special Elite", cursive;
$sidebar-font: "Metal Mania", cursive;
$primary-sans-serif: "Questrial", sans-serif;
$primary-serif: "Mate", serif;

html,
body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-family: $primary-serif !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*top section, home page*/
.gradient-design {
  background: rgb(156, 77, 26);
  background: radial-gradient(
    circle,
    rgba(156, 77, 26, 1) 0%,
    rgba(239, 100, 0, 1) 53%,
    rgba(2, 34, 75, 1) 99%,
    rgba(2, 34, 75, 1) 100%,
    rgba(2, 34, 75, 1) 100%
  );
}

.weview-logo {
  height: 5%;
  width: 5%;
}

.home-head {
  font-size: 1.25rem;
  color: white;
  font-family: $primary-sans-serif;
  height: 100%;

  h1 {
    font-family: $special-font;
  }
}
.home-body {
  width: 100%;
  h1 {
    font-size: 60px;
    font-family: $nav-font;
  }

  p {
    font-size: 20px;
  }
}

.navbar {
  height: 80px;
  margin-bottom: 0px !important;
}
nav {
  color: $secondary-color !important;
  border-bottom: dotted;
  border-color: white;
}

.inline-block {
  display: inline-block !important;
}

.section-container {
  height: 50vh;
}

.landing-svg-0 {
  bottom: 0;
}
.personal-opinions {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 5px;
}

.explore-button {
  border-radius: 50px;
  padding: 10px 10px;
  font-family: $special-font;
  font-size: 20px;
  box-shadow: 4px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.explore-button:hover {
  background-color: $secondary-color;
  color: $quaternary-color;
  box-shadow: 4px 0px 30px 10px rgba(0, 0, 0, 0.44);
}

/*recommend section, home page*/
.section-recommend-1 {
  position: relative;
  background-color: $secondary-color;
  color: white;
  height: 85vh;
}

.section-recommend-2 {
  position: relative;
  background-color: white;
  color: $secondary-color;
  height: 90vh;
}

.section-recommend-3 {
  position: relative;
  background-color: #273036;
  color: white;
  height: 90vh;
}

.section-recommend-4 {
  position: relative;
  background-color: white;
  color: black;
  height: 85vh;
}

.landing-svg-1 {
  bottom: 0;
  position: absolute;
}

.landing-svg-2 {
  bottom: 0;
  position: absolute;
}

.landing-svg-3 {
  bottom: 0;
  position: absolute;
}

.navbar-custom {
  background-color: $secondary-color;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  font-family: "Euphoria Script", cursive;
  font-size: 35px;
  color: white;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

.navbar {
  box-shadow: 0px 7px 26px -3px rgba(102, 102, 102, 0.5);
}

.btn-default {
  color: $primary-color !important;
  border: solid white !important;
  background-color: whitesmoke !important;
}

.btn-default:hover {
  color: white !important;
  background-color: black !important;
}

.primary-content {
  padding-top: 80px;
  background-color: $tertiary-color;
}

.basic-content {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid $secondary-color;
  border-radius: 20px;
  padding: 3em;
}

.home-content-reviews {
  border-top-style: solid;
  border-color: $secondary-color;
}

.review-content {
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: solid;
  border-color: rgb(218, 216, 216);
  min-height: 7vh;
  overflow: hidden;
}

.red-text {
  color: red;
}

.white-text {
  color: white;
}

.custom-title {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, 0.301);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.basic-content-card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px 0;
  border: ridge;
  border-radius: 10px;
}

.friend-event-col {
  border-left: dotted;
  border-color: $secondary-color;
}

.button-hover {
  border: none;
  background-color: #eee;
  transition: all ease-in-out 0s;
  cursor: pointer;
}
.button-hover:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

.logo-box {
  width: 20%;
  display: inline-block;
  margin-top: 1em;
}

.friend-name {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.25em;
  border-radius: 0.2em;
}

/* forms */
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.h1-signup {
  text-align: center;
}

input {
  height: auto !important;
}

.form-box {
  margin: auto;
  width: 50%;
}

/* The side navigation menu */
.sidenav {
  font-family: $sidebar-font;
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(2, 34, 75, 0.9);
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.5s;
  box-shadow: 4px 0px 30px 10px rgba(0, 0, 0, 0.44);
}

/* The navigation menu links */
.sidenav a {
  border-top: 1px dotted;
  border-color: white;
  padding: 20px 8px 20px 20px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:last-child {
  border-bottom: 1px dotted;
  border-color: white;
}

.menu {
  padding: 23px 21px 18px 20px;
  font-size: 25px;
  color: $primary-color;
  display: block;
}

.sidenav a:hover {
  color: rgb(204, 209, 253);
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.my-nav-text {
  padding-left: 5px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s opacity 2s linear;
}
#left-sidebar:hover .my-nav-text {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}

.my-col {
  margin-top: auto;
  margin-bottom: auto;
}

.block {
  display: block;
}

/* cube */
.goku-img {
  width: 100%;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* Applying styles to each face */
.box1 {
  transform: translateZ(100px);
}

.box2 {
  transform: rotateY(90deg) translateX(100px);
  transform-origin: right;
}

.box3 {
  transform: rotateY(180deg) translateZ(100px);
}

.box4 {
  transform: rotateY(-90deg) translateX(-100px);
  transform-origin: left;
}

.box5 {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top;
}

.box6 {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom;
}

/* Animating the elements */
@keyframes rotate {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotateY(90deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(270deg);
  }
  80% {
    transform: rotateY(360deg);
  }
}

.modal-content {
  color: white;
  background-color: rgba(0, 16, 37, 0.863) !important;
  border-style: 10px dashed !important;
  border-color: rgba(239, 100, 0, 0.555) !important;
}

footer {
  padding: 3% 0;
  border-top: dashed white;
  color: white;
  background-color: black;
}

footer a {
  color: white;
}

//a general iphone size
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  html,
  body {
    font-size: 0.85rem;
  }

  .weview-logo {
    height: 10%;
    width: 10%;
  }

  .home-head {
    height: 90vh;
    position: relative;
  }

  .landing-svg-0 {
    position: absolute;
    bottom: 0;
  }

  .cube {
    display: none;
  }

  .section-recommend-1 {
    height: 85vh;
    padding-top: 20px;

    svg {
      height: 80;
    }

    h1 {
      font-size: 50px;
    }
  }

  .section-recommend-2 {
    padding-top: 40px;

    h1 {
      font-size: 50px;
    }
  }

  .section-recommend-3 {
    h1 {
      font-size: 50px;
    }
  }

  .section-recommend-4 {
    h1 {
      font-size: 50px;
    }

    height: 90vh;
  }

  .personal-opinions {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 5px;
  }

  //after logging in
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    font-family: "Euphoria Script", cursive;
    font-size: 23px;
    color: white;
  }

  .nav-container {
    margin-left: 44px !important;
  }

  .sidenav {
    width: 0;
    overflow: visible;
  }

  .menu {
    margin-left: 5px;
  }

  #nav-links {
    display: none;
  }

  .dropdown-menu {
    left: -110px !important;
  }

  .container .mobile-padding-adjusted {
    padding-right: 0px !important ;
    padding-left: 0px !important ;
  }

  .explore-button {
    font-size: 15px;
  }

  .mobile-inline {
    display: inline-block;
  }

  .mobile-text-center {
    text-align: center !important;
  }

  .mobile-display-none {
    display: none !important;
  }
}

//a general ipad size
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  html,
  body {
    font-size: 0.95rem;
  }

  .weview-logo {
    height: 10%;
    width: 10%;
  }

  .home-head {
    height: 80vh;
    position: relative;
  }

  .landing-svg-0 {
    position: absolute;
    bottom: 0;
  }

  .section-recommend-1 {
    height: 70vh;
    padding-top: 20px;

    svg {
      height: 80;
    }

    h1 {
      font-size: 50px;
    }
  }

  .section-recommend-2 {
    height: 70vh;
    padding-top: 40px;

    h1 {
      font-size: 50px;
    }
  }

  .section-recommend-3 {
    height: 70vh;
    h1 {
      font-size: 50px;
    }
  }

  .section-recommend-4 {
    height: 70vh;
    h1 {
      font-size: 50px;
    }
  }

  .personal-opinions {
    background-color: rgba(255, 255, 255, 0);
    padding: 30px;
    border-radius: 5px;
  }

  .dropdown-menu {
    left: -90px !important;
  }

  .weview-logo {
    height: 8%;
    width: 8%;
  }

  .nav-container {
    margin-left: 55px !important;
  }
}
