// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
}

.navbar {
  min-height: 7%;
}

.content {
  margin-top: 7%;
}

.logo-box {
  width: 20%;
  display: inline-block;
  margin-top: 1em;
}

.page-header {
  text-align: center;
  border-bottom: 0.25em dotted;
}

.friend-list {
  margin-left: 9%;
  padding: 2em;
  width: 20%;
  height: 20%;
  background-color: rgb(238, 238, 238);
  border-style: solid;
}

// .container {
//   border: solid 1em black;
//   border-radius: 2em;
// }

.friend-name {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.25em;
  border-radius: 0.2em;
}

.jumbotron {
  padding: 3em !important;
}

.footer {
  background-color: darkgray;
}
