// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 65px;
}

.navbar {
  min-height: 7%;
}

.navbar-header {
  margin-left: 10% !important;
  margin-top: 0.25%;
}

.main-content {
  margin-top: 75px;
}

.logo-box {
  width: 20%;
  display: inline-block;
  margin-top: 1em;
}

// .page-header {
//   text-align: center;
//   border-bottom: 0.25em dotted;
// }

.friend-list {
  margin-left: 9%;
  padding: 2em;
  width: 20%;
  height: 20%;
  background-color: rgb(238, 238, 238);
  border-style: solid;
}

.container {
  margin-top: 2em;
  border-top: solid 1em black;
  border-radius: 2em;
  background-color: black;
}

.friend-name {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.25em;
  border-radius: 0.2em;
}

.jumbotron {
  padding: 3em !important;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.h1-signup {
  text-align: center;
}

input {
  height: auto !important;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* The logged in header */

.logged-in-nav {
  // position: fixed;
  text-align: center;
  width: 100%;
  margin-bottom: -65px;
}
.user-head-text {
  position: fixed;
  text-align: center;
  width: 100%;
  background: rgba(238, 238, 238, 0.835);
  border-bottom: dotted;
  box-shadow: 5px 5px 5px #b4b4b4;
}
.inner-logged-in-nav {
}
.menu-box {
  width: 5%;
  border-style: solid;
  position: fixed;
}
